/* Departments.css */
  
.departments-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #f6eeee; 
  }
  
  .departments-list-item {
    font-size: 24px;
  }
  
  .department-form-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #f6eeee; 
  }
  
  button.delete-department {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #f2f6fa;
  }
  
  li a:hover {
    color: #7ed603;
  }
  
  p {
    font-size: 1rem;
    color: #666666;
  }
  
  p.Loading {
    font-weight: bold;
    color: #333333;
  }